﻿@model IEnumerable<Languages.Web.Models.Country>

<h2>Countries List</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database.</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(c => c.First().Name)</th>
            <th>@Html.DisplayNameFor(c => c.First().Population)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var country in Model)
        {
            <tr>
                <td>@Html.DisplayFor(c => country.Name)</td>
                <td>@Html.DisplayFor(c => country.Population)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = country.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = country.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = country.Id })</td>
            </tr>
        }
    </table>   
}