﻿@model Languages.Web.Models.Country

@{
    ViewData["Title"] = "Countries Edit";
}

<h2>Countries Edit</h2>

@using (Html.BeginForm("Edit", "Countries"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(c => c.Id)

    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(c => c.Name)</div>
    <div class="editor-field">@Html.EditorFor(c => c.Name)</div>

    <div class="editor-label">@Html.LabelFor(c => c.Population)</div>
    <div class="editor-field">@Html.EditorFor(c => c.Population)</div>

    <div class="editor-label">@Html.LabelFor(c => c.Capital)</div>
    <div class="editor-field">@Html.EditorFor(c => c.Capital)</div>


    <div class="editor-label">@Html.LabelFor(c => c.Continent)</div>
    <div class="editor-field">@Html.EditorFor(c => c.Continent)</div>

    <div class="editor-label">@Html.LabelFor(c => c.Area)</div>
    <div class="editor-field">@Html.EditorFor(c => c.Area)</div>

    <input type="submit" value="SEND" />

}