﻿@model Languages.Web.Models.Country

<h2>Datasheet of one country</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(c => c.Id)</td>
        <td>@Html.DisplayFor(c => c.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(c => c.Name)</td>
        <td>@Html.DisplayFor(c => c.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(c => c.Population)</td>
        <td>@Html.DisplayFor(c => c.Population)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(c => c.Capital)</td>
        <td>@Html.DisplayFor(c => c.Capital)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(c => c.Continent)</td>
        <td>@Html.DisplayFor(c => c.Continent)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(c => c.Area)</td>
        <td>@Html.DisplayFor(c => c.Area)</td>
    </tr>
</table>