﻿@model Languages.Web.Models.CountryListViewModel

@{
    ViewData["Title"] = "Countries Index";
}

<h2>Countries Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("CountriesEdit", Model.EditedCountry)

@await Html.PartialAsync("CountriesList", Model.ListOfCountries)